@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Niconne&display=swap');
/*CSS reset*/
*{
    padding: 3px;
    margin: 5px;
    box-sizing: border-box;
}
body {
    background-color:yellow;
    font-family: 'Cinzel', serif;
    color:#A555EC;
}
#my-avatar {
    width:150px;
    
}

#content {
    text-align: center;
}
#my-name{
font-family: 'Niconne', cursive;
color:blue;
}
#left-side{
    width: 49%;
    display: inline-block;
}
#right-side{
    width: 49%;
    display: inline-block;
    text-align: right;
}
a{
    color: #5800FF;
    text-decoration: none;
    border-bottom: 1px dotted #A555EC;
}
header{
    margin-top: 16px;
}
.nav-link{
    margin-left: 8px;
}