@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Niconne&display=swap');
body {
    background-color:yellow;
    font-family: 'Cinzel', serif;
    color:midnightblue;
}
h1{
    color:royalblue;
}
h2{
    color:#53008e;
}
p{
    color:black:
}
#my-avatar {
    width:150px;
}

#content {
    text-align: center;
}
#my-name {
font-family: 'Niconne', cursive;
color:blue;
}
