@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Niconne&display=swap');
/*CSS reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100vh;
    width: 100%;
    position: relative;

}
body {
    background-color:#FCF9BE;
    font-family: 'Cinzel', serif;
    color:#fa07a5;
}
header{
    
   /* height: auto; */
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 16px;
}
#my-avatar {
    width:150px;
    border-radius:50%;
    
}

#content {
    text-align: center;
    height:100%;
}
#my-name{
font-family: 'Niconne', cursive;
color:#0015ff;
}
#left-side{
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}
#right-side{
    /*position: absolute;
    top: 16px;
    right: 16px; */
}
a{
    color: #5800FF;
    text-decoration: none;
} 
footer{
    position: absolute;
    bottom: 0;
    width: 100vw; /* vw is viewport width */
    padding: 16px;
}
footer > section{
    /*position:absolute;
    bottom: 16px; */
   /* left: 50%;
    transform: translateX(-50%); */
    display: flex;
    justify-content: space-between;
}
footer a:first-child{
    margin-right: 16px;
}
#content div{
    background-color: #fcfabe;
    width: 100vw; /*VW -> viewport width*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;

}


/* PROJECT PAGE */
#hero-banner {
    background: linear-gradient(150deg, #ff00fb, #f2ff00, magenta);

}
#hero-banner > div{
    width:50%;
    margin:0 auto;
}
#hero-banner > div > div {
    display: inline-block;
}
#hero-banner h1,
#hero-banner h2{
    color: rgb(7, 45, 236);
}
h3{
    text-align: center;
    font-size: 32px;
}
header{
    
    /* height: auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100vw; /* vw is viewport width */
    padding: 16px;
}
footer > section{
    /*position:absolute;
    bottom: 16px; */
   /* left: 50%;
    transform: translateX(-50%); */
    display: flex;
    justify-content: space-between;
}

/* FOR VERSION 2 */

header{
    margin-top: 16px;
}
header > nav{
    display: flex;
    justify-content: space-evenly;
}
footer{
    display: flex;
    justify-content: space-evenly;
    width: 100%
}
footer > a > svg{
    width: 24px;
    height: 24pc;
    margin-right: 8px;
    fill: red;
}